

.hero-load {
    animation-name: centreStart;
    animation-duration: 1.2s;
}

.hero-text-load {

    animation-name: textFade;
    animation-duration: 1.2s;
}

@keyframes centreStart {
  0% {
    transform: translateX(20rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes textFade {
  0% {
    transform: translateX(-25vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: translateX(-25vw);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

