@keyframes centreStart {
  0% {
    transform: translateX(25vw);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translateX(25vw);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes textfade {
  0%, 65% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

