

.fadein {
    animation-name:fadeIn;
    animation-duration:2s;
    animation-timing-function: ease-in-out;
}

.titleSlide {
    animation-name:titleSlide;
    animation-duration:1.2s;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleSlide {
  0% {
    transform: translateX(8rem);
  }
  70% {
    transform: translateX(8rem);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@media (max-width: 1200px) {
    .titleSlide {
        animation:none
    }
}
