


.navbar-head {
    position:absolute;
    right:0;
    width:10rem;
    height:2rem;
    border-bottom: .2rem solid darkslategray;
    border-left: .2rem solid darkslategray;
    border-bottom-left-radius: 0.5rem;

    display:flex;
    flex-direction:column;
}
