
.navbar-wrapper {
    position:absolute;
    z-index:1;
    right:0;
    width:10rem;
    min-width:10rem;
    height:fit-content;
    border-bottom: .2rem solid darkslategray;
    border-left: .2rem solid darkslategray;
    border-bottom-left-radius: 0.5rem;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    color:#898daf;    
}

.navbar-item {
    background-color:#191B29;
    display:flex;
    align-items:center;
    flex-direction:row;
    column-gap:0.5rem;
    max-height:var(--sidelength);
}

.navbar-item:hover {
    filter:brightness(.50);
    transition: ease-in-out 200ms;
    cursor:pointer;
}

.refresh-wrapper {
    position:absolute;
    z-index:1;
    pointer-events:none;
    overflow:hidden;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.refresh-background {
    position:absolute;
    top:0;
    left:0;
}

.refresh-mask {
    stroke-dasharray: 600 600; /* 5px highlight, 400px gap */
    stroke-dashoffset: 600;
    /* Animation applied by js in Nav.switch.ts */
}

@keyframes maskMove {
  to {
    stroke-dashoffset: -600;
  }
}
