:root {
    --cl-accent: #60a5fa;
    --cl-accent-dark: #0f3d76;
    --cl-accent-light: #bcd9fe;
    --cl-black: #111111;
    --cl-gray-6: #222222;
    --cl-gray-5: #333333;
    --cl-gray-4: #444444;
    --cl-gray-3: #aaaaaa;
    --cl-gray-2: #cccccc;
    --cl-gray-1: #eeeeee;
    --cl-white: #ffffff;
}


:root[data-theme='dark'] {
    --cl-accent: #60a5fa;
    --cl-accent-light: #0f3d76;
    --cl-accent-dark: #bcd9fe;
    --cl-white: #111111;
    --cl-gray-1: #222222;
    --cl-gray-2: #333333;
    --cl-gray-3: #444444;
    --cl-gray-4: #aaaaaa;
    --cl-gray-5: #cccccc;
    --cl-gray-6: #eeeeee;
    --cl-black: #ffffff;
}


