/* Font is Jetbrains mono, sourced from google fonts will need to install locally at some point to remove startup lag */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* Basic definitions for HTML objects and page*/

html {
     /* Palette - def use coolers.co for more ideas*/
    /* By default we use the normal Inter-font */
    font-family: 'JetBrains Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color:var(--background);
    color:var(--lightText);

}


:root {
    overflow-x: hidden;
    height:100%;
    z-index: 0;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: left;
    scroll-behavior: smooth;
}

#root {
    display: flex !important;
    justify-content: center;
    scroll-behavior: smooth;
}

h1 {
    font-size:2.2rem;
}

a {
    font-weight:400;
    text-decoration:none;
}

a:hover {
    filter: brightness(.50);
}
