
.term-wrapper {
    position:relative;
    width:50vw;
    height:100vh;
    display:flex;
    text-align: center;
    border: .4rem solid darkslategray;
    border-radius:.5rem;
    background-color: #222436;
}
