
/* possible colors 
 * #191B29
 *
 * */
.head-wrapper {
    width:50vw;
    height:80vh;
    display:flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    border: .4rem solid darkslategray;
    border-radius:.5rem;
    /*backdrop-filter: blur(1rem);*/
    background-color: #222436;
}
