
.-z-99 {
    z-index:-99;
}

.bg-wrapper {
    position:fixed;
    z-index:-100;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}

.bg-tile {
    position:fixed; 
    top:calc(var(--y) * var(--sidelength)); 
    left:calc(var(--x) * var(--sidelength)); 
    box-sizing: border-box;
    height:var(--sidelength);
    width:var(--sidelength); 
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--color);
}

.snake-wrapper {
    position:fixed;
    top:0;
    left:0;
}

.snake-highlight {
    stroke-dasharray: var(--highlight) var(--gap); /* 5px highlight, 400px gap */
    stroke-dashoffset: 0;
    stroke: var(--colour);
    animation: moveHighlight var(--duration) linear infinite;
    animation-delay: var(--delay);
    filter: brightness(1.50);
}

@keyframes moveHighlight {
  to {
    stroke-dashoffset: var(--dashoffset);
  }
}
