
.-z-99 {
    z-index:-99;
}

.bg-wrapper {
    position:fixed;
    z-index:-100;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}

.bg-tile {
    position:fixed; 
    top:calc(var(--y) * var(--sidelength)); 
    left:calc(var(--x) * var(--sidelength)); 
    box-sizing: border-box;
    height:var(--sidelength);
    width:var(--sidelength); 
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--color);
}


.snake-highlight {
    stroke-dasharray: 60 400; /* 60px highlight, 400px gap */
    stroke-dashoffset: 0;
    animation: moveHighlight 2s linear infinite;
}

@keyframes moveHighlight {
  to {
    stroke-dashoffset: -460;
  }
}
