

.bg-wrapper {
    position:fixed;
    z-index:-100;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}


.bg-block {
    position:fixed; 
    top:calc(var(--y) * 3rem); 
    left:calc(var(--x) * 3rem); 
    box-sizing: border-box;
    height:3rem; 
    width:3rem; 
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--color);
}
